<h1><%= @word.name %></h1>

<h4>Definition(s)</h4>
<% if @word.definitions %>
    <ul>
      <% @word.definitions.each do |definition| %>
        <li><a href="/words/<%= @word.id %>/definitions/<%= definition.id %>"><%= definition.name %></a></li>
        <% end %>
    </ul>
  <% else %>
    <p>There are no definitions for this word yet.</p>
  <% end %>

<h4>Add a definition:</h4>

<form action="/words/<%= @word.id %>/definitions" method="post">
  <div class="form-group">
    <label for="definition_name">Definition:</label>
    <input id="definition_name" name="definition_name" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn">Add the Definition</button>
</form>


<p><a href="/words/<%= @word.id %>/edit">Edit Word</p>
<p><a href="/words">Return to the dictionary!</a></p>
